@font-face {
    src: url(fonts/Montserrat-bold.ttf);
    font-family: "Montserrat";
    font-weight: "bold";
}

@font-face {
    src: url(fonts/Montserrat-Medium.ttf);
    font-family: "Montserrat";
    font-weight: "500";
}

@font-face {
    src: url(fonts/Montserrat-Light.ttf);
    font-family: "Montserrat";
    font-weight: "300";
}

@font-face {
    src: url(fonts/PlayfairDisplay-Bold.ttf);
    font-family: "PlayfairDisplay";
    font-weight: "bold";
}

@font-face {
    src: url(fonts/PlayfairDisplay-VariableFont_wght.ttf);
    font-family: "PlayfairDisplay";
    font-weight: "500";
}

@font-face {
    src: url(fonts/Al-Jazeera-Arabic-Light.ttf);
    font-family: "Al-Jazeera-Arabic";
    font-weight: "500";
}

@font-face {
    src: url(fonts/Nexa-Thin.ttf);
    font-family: "Nexa-Thin";
    font-weight: "500";
}
/*
****
* Global
****
*/
:root {
    /* Colors */
    --white: white;
    --green: #17bebb;
    --blue: #2299ce;
    --blue_n: #295167;
    --sky: #4ca1af;
    --text: #3b4c5d;
    /* font family */
    --ff-Nexa-Thin: "Nexa-Thin";
    --ff-montserrat: "Montserrat";
    --ff-PlayfairDisplay: "PlayfairDisplay";
    --ff-Al-Jazeera: "Al-Jazeera-Arabic";

    --transition-1: 0.3s;
}
input::placeholder {
    transition: var(--transition-1);
    color: var(--text);
}
input:focus::placeholder {
    color: transparent;
}

body {
    font-family: var(--ff-montserrat);
    scroll-behavior: smooth;
    overflow: hidden;
}
body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--sky);
}

/*
****
* Classes
****
*/

/*
****
* navbare
****
*/
.navigation > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 3rem;
    background: var(--white);
}
.navigation .nav-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.menu {
    display: none;
}
.lang > a,
.auth > a {
    margin: 0.5rem;
}

.lang > a {
    display: inline-block;
    border-radius: 30px;
    color: var(--white);
    padding: 0.7rem 2rem;
    font-size: small;
    font-size: 12px;
    transition: var(--transition-1);
}
.lang > a:first-of-type {
    font-family: var(--ff-Al-Jazeera);
    background: var(--green);
    font-size: 14px;
    border: 1px solid var(--green);
}
.lang > a:first-of-type:hover {
    color: var(--green);
    background: var(--white);
}
.lang > a:nth-child(2) {
    font-family: var(--ff-montserrat);
    background: var(--blue);
    border: 1px solid var(--blue);
}
.lang > a:nth-child(2):hover {
    color: var(--blue);
    background: var(--white);
}
.lang > a:last-of-type {
    font-family: var(--ff-montserrat);
    background: var(--blue_n);
    border: 1px solid var(--blue_n);
}
.lang > a:last-of-type:hover {
    color: var(--blue_n);
    background: var(--white);
}
/*
****
* Form Section
****
*/

.form-section {
    background-size: cover;
    color: var(--white);
    margin-inline: auto;
    padding-block: 2rem;
    text-align: center;
}
.form-section .head-title h1 {
    font-family: var(--ff-PlayfairDisplay);
}
.form-section .head-title p {
    font-family: var(--ff-montserrat);
}
.frist-section {
    background: var(--white);
    border-radius: 40px;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-inline: 3rem;
    height: 80px;
    /* justify-content: center; */
}

.bar {
    width: 0.5px !important;
    height: 40%;
    background: var(--text);
    opacity: 0.5;
    margin-inline: 0.5rem 1.5rem;
}
.select-wrapper input.select-dropdown {
    border-bottom: none;
}
.select-wrapper .caret {
    fill: var(--text);
}

.secode-section {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    padding: 4rem 0 4rem 4rem;
    gap: 4rem;
}

.secode-section > div {
    flex-basis: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.secode-section > div > input[type="text"]:not(.browser-default) {
    background: var(--white);
    padding-block-end: 0.2rem;
    margin: 0;
    flex-basis: 70%;
    border-radius: 40px;
    border-bottom: none;
    text-align: center;
}
.secode-section > div > label {
    font-family: var(--ff-PlayfairDisplay);
    font-size: 28px;
    color: var(--white);
}
input::placeholder {
    font-size: 12px;
}

/* .secode-section > div > input[type="text"]:not(.browser-default):nth-child(3), */

.secode-section > .last > input[type="text"]:not(.browser-default) {
    padding-block: 1rem;
    border-radius: 70px;
}
.secode-section
    > .last
    > input[type="text"]:not(.browser-default)::placeholder {
    font-size: 16px;
}

.theard-section {
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 80px;
}
.theard-section .label {
    font-size: 32px;
    font-family: var(--ff-Nexa-Thin);
    opacity: 0.8;
}
.theard-section > div {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.theard-section input[type="text"]:not(.browser-default) {
    background: var(--white);
    border-radius: 40px;
    text-align: center;
    padding-bottom: 0.2rem;
}
.theard-section .full-name {
    width: 50%;
}
.theard-section .age {
    width: 15%;
}
/* .theard-section .passport {
    width: 50%;
}
.theard-section .nationality {
    width: 100%;
} */

.last-section {
    background-color: var(--white);
    border-radius: 60px;
    display: flex;
    align-items: center;
    gap: 2rem;
    color: var(--text);
    padding-inline: 2rem;
    margin-block: 2rem;
    height: 70px;
    width: 100%;
}
.last-section > div:first-of-type {
    font-size: 14px;
    width: 30%;
}
.last-section > div:nth-of-type(3) {
    width: 30%;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.form-section .btn-request {
    cursor: pointer;
    color: var(--white);
    background: var(--sky);
    border-radius: 30px;
    padding: 1rem 3rem;
    box-shadow: none;
    font-family: var(--ff-Nexa-Thin);
    font-size: 1.5rem;
    display: inline-block;
    margin-top: 1rem;
    transition: var(--transition-1);
    border: 1px solid var(--sky);
}
.form-section .btn-request:hover {
    background-color: transparent;
    color: var(--sky);
}
.subscribe {
    background: var(--sky);
    color: var(--white);
    padding-block: 3rem;
}
.subscribe > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.subscribe > .container > div {
    flex-basis: 50%;
}
.subscribe input::placeholder {
    color: var(--white);
}
.subscribe input:not([type]),
.subscribe input[type="email"]:not(.browser-default),
textarea.materialize-textarea {
    margin: 0;
    border-bottom: 1px solid var(--white);
    color: var(--white);
}
.subscribe input:not([type]):focus:not([readonly]),
.subscribe input[type="email"]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid var(--white);
}
.subscribe .email {
    display: flex;
    align-items: end;
}

footer {
    background: #2c3e50;
    padding-block: 3rem;
}
footer > .container {
    display: flex;
    gap: 2rem;
    color: var(--white);
}
footer > .container > div {
    flex-basis: 50%;
}
footer > .container > div:first-of-type > div {
    width: 50%;
}
footer > .container > div:first-of-type h4 {
    font-family: var(--ff-PlayfairDisplay);
    font-weight: bold;
    color: var(--sky);
}
footer > .container > div:first-of-type p {
    font-size: 13px;
    line-height: 1.75;
}

footer > .container > div:last-of-type > div {
    display: flex;
    align-items: center;
}
footer > .container > div:last-of-type > div > div {
    flex-basis: 50%;
    position: relative;
}
footer > .container > div:last-of-type .info {
    padding-block: 1rem;
    display: flex;
    align-items: center;
}
footer > .container > div:last-of-type .info > span {
    text-align: center;
    font-size: 12px;
    padding-inline: 0.5rem;
    display: inline-block;
}
footer > .container > div:last-of-type .info > img {
    align-self: start;
}

footer
    > .container
    > div:last-of-type
    > div:last-of-type
    img:not(:first-of-type) {
    position: absolute;
}
footer > .container > div:last-of-type > div:last-of-type img:nth-child(2) {
    top: 30%;
    left: 15%;
}
footer > .container > div:last-of-type > div:last-of-type img:nth-child(3) {
    top: 50%;
    left: 20%;
}
footer > .container > div:last-of-type > div:last-of-type img:nth-child(4) {
    right: 32%;
    top: 30%;
}
footer > .container > div:last-of-type > div:last-of-type img:nth-child(5) {
    right: 25%;
    bottom: 30%;
}
.footer {
    background: #2c3e50;
    border-top: 1px solid #b8b9ba6e;
    color: #b8b9ba;
    padding-block: 2rem;
    /* font-size: 18px; */
}

.datepicker-modal {
    border-radius: 8px;
}
@media (max-width: 768px) {
    .frist-section {
        flex-direction: column;
        height: fit-content;
        padding: 3rem;
        background: transparent;
    }
    .frist-section > div {
        width: 100%;
        background: var(--white);
        border-radius: 20px;
        padding-inline: 1rem;
    }
    .secode-section {
        flex-direction: column;
        padding: 3rem;
        gap: 4rem;
    }

    .secode-section > div {
        width: 100%;
        justify-content: stretch;
    }
    .secode-section > div > input[type="text"]:not(.browser-default) {
        flex: 1;
    }
    .theard-section {
        padding: 3rem;
        height: fit-content;
    }
    .theard-section > div {
        flex-direction: column;
        width: 100%;
    }
    .theard-section > div:last-of-type > div {
        width: 100%;
    }
    .last-section {
        flex-wrap: wrap;
        height: fit-content;
        padding: 3rem;
        background: transparent;
    }
    .last-section > div {
        background: var(--white);
        width: 100%;
        padding-inline: 1rem;
        border-radius: 20px;
    }
    .last-section > div:first-of-type {
        width: 100%;
        padding-block: 1rem;
    }
    .last-section > div:nth-of-type(3) {
        width: 1000%;
        height: max-content;
        justify-content: center;
        padding-block: 1rem;
    }

    .bar {
        display: none;
    }
    .subscribe > .container {
        flex-direction: column;
    }
    footer > .container {
        flex-direction: column;
    }
    .subscribe > .container > div {
        text-align: center;
        width: 100%;
    }
    .footer {
        font-size: 12px;
    }
}

@media (max-width: 992px) {
    .form-section .head-title h1 {
        font-size: 32px;
    }

    footer > .container > div:first-of-type > div {
        width: 100%;
    }
}
@media (max-width: 1096px) {
    .navigation .nav-info {
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 150px;
        background: var(--white);
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: var(--transition-1);
    }
    .navigation .nav-info.active {
        height: fit-content;
    }
    .menu {
        display: block;
        cursor: pointer;
    }
}
